<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Servlets.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlets.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reservaUsu</servlet-name>
        <servlet-class>Servlets.reservaUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reservaSer</servlet-name>
        <servlet-class>Servlets.reservaSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reservaPromo</servlet-name>
        <servlet-class>Servlets.reservaPromo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reservaUsu</servlet-name>
        <url-pattern>/reservausu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reservaSer</servlet-name>
        <url-pattern>/reservaser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reservaPromo</servlet-name>
        <url-pattern>/reservapromo.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
