/* -- HEADER -- */
@import url(menu.css);
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Gloria+Hallelujah|Indie+Flower|Josefin+Sans|Lobster|Orbitron|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Finger+Paint|Frijole|Love+Ya+Like+A+Sister|Sue+Ellen+Francisco|The+Girl+Next+Door');

/*font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Sue Ellen Francisco', cursive;
font-family: 'Frijole', cursive;
font-family: 'The Girl Next Door', cursive;
font-family: 'Finger Paint', cursive;
font-family: 'Love Ya Like A Sister', cursive;*/

header{
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
}

header li{
    font-family: 'Finger Paint', cursive;
    font-size: 10px;
}

.navbar {
    margin-bottom: 0px;
}

.jumbotron{
    background: #428BCA;
    color: #fff;
    padding: 10px 0;
    margin-top: 50px;
}


.jumbotron h1{
    float: inherit;
    text-align: center;
    font-family: 'Finger Paint', cursive;
    font-size: 60px;
    cursor: default;
}

.jumbotron a{
    color: white;
    text-decoration: none;
    text-decoration-color: white;
    text-emphasis-color: white;
    float: left;
}

.jumbotron p{
    color: white;
    cursor: default;
    float: inherit;
    text-align: center;    
    font-family: 'Love Ya Like A Sister', cursive;
}

.jumbotron img{
    cursor: default;
    image-resolution: 300dpi; 
    width: 7%;
    background: #428BCA;
    /*float: right;*/
    margin-top: -40px;
}

.jumbotron2 a{
    color: white;
    text-decoration: none;
    text-decoration-color: white;
    text-emphasis-color: white;
    float: left;
}


.jumbotron2 p{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    text-emphasis-color: white;    
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}

.jumbotron2 li{  
    float: left;
    font-family: 'Josefin Sans', sans-serif;
}

.jumbotron2{
    color: black;
    border-radius: 5px 50px 5px;
}

.jumbotron2 h1{
    cursor: default;   
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.jumbotron2 img{
    cursor: default;
    image-resolution: 300dpi; 
    width: 30%;
    border-radius: 5px 50px 5px;
    border-color: black;
    background: black;
    border-width: 3px;
    border-style: solid;
}

.jumbotron2 h3{
    cursor: default;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.jumbotron3 a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    text-emphasis-color: white;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}

.jumbotron4{
    color: black;
    background-color: white;
    border-radius: 5px 50px 5px;
}

.jumbotron4 h3{
    cursor: default;
    font-family: 'Pacifico', cursive;
    text-align: center;
}
.jumbotron4 h4{
    cursor: default;
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: center;
}
/* -- POST -- */

.main {
    margin-top: 20px;
    margin-bottom: 20px;
}

.post {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
}

.post .post-title a{
    color: #333;
}

.post .thumb {
    margin-right: 10px;
    width: 40%;
}

.post .thumb img {
    width: 100%;
}

.carrusel h4{
    color: white;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
}

/* -- FOOTER --*/

footer{
    width: 100%;
    height: 30px;
    background-color: #222222;
    color: white;
    bottom: 0px;
    left: 0;
    z-index: 100;
    text-align: center;
    margin-bottom: 0px;
    position: fixed;    
}